@import './base.scss';

.g-button--default{
    background-color:$primaryColor;
    border: 0;
    border-radius: $borderRadius;
    color: $primaryTextColor;
    &:hover{
        background-color: $primaryHoverColor;
     

    }
    &:active{
        background-color: $primaryActiveColor;
        
    }

}