@import './base.scss';

.g-button--default{
    font-size: 14px;
    background-color:$primaryColor;
    border: 0;
    border-radius: $borderRadius;
    color: $primaryTextColor;
    padding: 12px 20px;
    &:hover{
        background-color: $primaryHoverColor;
     

    }
    &:active{
        background-color: $primaryActiveColor;
        
    }

}



.g-button--success{
    font-size: 14px;
    background-color:$successColor;
    border: 0;
    border-radius: $borderRadius;
    color: $primaryTextColor;
    padding: 12px 20px;
    &:hover{
        background-color: $successHoverColor;
    }
    &:active{
        background-color: $successActiveColor;
    }

}


.is-disabled{
    cursor: not-allowed;
    background-color: #b3e19d;
    &:hover{
        background-color: #b3e19d;
    }
    &:active{
        background-color: #b3e19d;
    }

}
